{# {% extends 'base.html.twig' %} #}

{% block title %}Register{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <select name="{{ form_row(registrationForm.admin) }}" class="form-control">
        <option value="Admin">{{form_row(registrationForm.admin) }}</option>
        <select name="{{ form_row(registrationForm.user) }}" class="form-control">
        <option value="">{{ form_row(registrationForm.user) }}</option>
        {{ form_row(registrationForm.agreeTerms) }}
        

   
</select>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
