{# <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %} 
        <img src="{{ asset('images/images.jpg') }}" alt="Symfony!"/>
        
         {% endblock %}
    </body>
</html> #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# Additional CSS or script includes can be placed here #}
</head>
<body>
    <header>
        <h1><a href="{{ path('blog_list') }}">My Blog</a></h1>

           {# <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-lg btn-default">
                <input type="radio" name="role" value="admin" >Admin
                </label>
                <label class="btn btn-lg btn-default">
                <input type="radio" name="role" value="user">User
                </label>
            </div> #}

        <nav>
            <ul>
              <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                  <li><a href="{{ path('app_register') }}">Register</a></li>
           

                <li><a href="{{ path('blog_list') }}">Home</a></li>
                <li><a href="{{ path('blog_create') }}">Create Post</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
            <p>The Google tracking code is: {{ ga_tracking }}</p>
            USER: {{ user.logUser.email}}
            logUser.get

                {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                     <p>Email: {{ app.user.email }}</p>
                {% endif %} #}

            {# {% if is_granted('ROLE_USER') %}
                <li>User Name:</li>
                <li><a href="{{ path('user_blogs') }}">My Account</a></li>
            {% endif %} #}
            {% if 'ROLE_USER' in logUser.roles %}
                <li><a href="{{  path('user_blogs') }}">my blog</a></li>
                
            {% endif %}
            {% if 'ROLE_ADMIN' in logUser.roles %}
                <li><a href="{{  path('admin_dashboard') }}">admin</a></li>
            {% endif %}
                
                
            </ul>
        </nav>
    </header>
<main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} My Blog</p>
    </footer>
</body>
</html>